
<div class="callout callout-warning">
<h4>Durante a integração do PagSeguro com o sistema Easy Routes, é necessário que você
  informe o Token de Segurança gerado em sua conta do PagSeguro. O Token serve para que o PagSeguro saiba que essa integração pertence à sua conta no PagSeguro.
</h4>
</div>

<div class="box box-default">
  <div class="box-header with-border">
    <i class="fa fa-dollar"></i>

    <h3 class="box-title">1° Passo: Cria sua conta no PagSeguro</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    Você pode acessar clicando neste link: <a href="https://pagseguro.uol.com.br/registration/registration.jhtml"> aqui</a> </div>
  <!-- /.box-body -->
</div>

<div class="box box-default">
  <div class="box-header with-border">
    <i class="fa fa-dollar"></i>

    <h3 class="box-title">2° Passo: Gere o TOKEN!</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    Você pode acessar clicando neste link: <a href="https://comunidade.pagseguro.uol.com.br/hc/pt-br/community/posts/220130348-Como-gerar-um-token-de-seguran%C3%A7a"> aqui</a> </div>
  <!-- /.box-body -->
</div>

<div class="box box-default">
  <div class="box-header with-border">
    <i class="fa fa-dollar"></i>

    <h3 class="box-title">3° Passo: Inclua seu token no sistema Easy Routes</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    Para incluir o token no Easy Routes, faça login como gestor da empresa e vá até <b>"Configurações Gerais"</b> no menu lateral. Inclua e o sistema estará integrado ao PagSeguro.
  </div>
  <!-- /.box-body -->
</div>


<div class="callout callout-success">
<h4>Pronto, você agora pode criar parcelas e receber as mesmas, e seus usuários podem efetuar o pagamento diretamente pelo sistema Easy Routes integrado ao PagSeguro.
</h4>
</div>
