<div class="row">
  <div class="col-md-6">
    <div class="box box-default">
      <div class="box-header with-border">
        <i class="fa fa-user"></i>

        <h3 class="box-title">Sendo o gestor da empresa de transporte</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        Você pode se registrar clicando <b><%= link_to 'aqui', new_admin_session_path %>:</b>
        <br />
        <br />
        <ol>
          <li>Você precisa de um e-mail válido</li>
          <li>Você precisa de uma senha de no mínimo 6 caracteres</li>
          <li>Após o registro, você será redireciona para a página do perfil</li>
          <li>Informe todos os dados da empresa</li>
          <li>Você já pode utilizar de todas as funcionalidades do sistema</li>
        </ol>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->

  <div class="col-md-6">
    <div class="box box-default">
      <div class="box-header with-border">
        <i class="fa fa-users"></i>

        <h3 class="box-title">Sendo um usuário</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        Você entrar clicando <b><%= link_to 'aqui', new_user_session_path %>:</b>
        <br />
        <br />
        <ol>
          <li>Você precisa inserir seu e-mail cadastrado pelo gestor</li>
          <li>Informe a sua senha cadastrada também pelo gestor</li>
          <li>Após o login, você irá visualizar alguns atalhos principais da aplicação</li>
          <li>Você já pode utilizar de todas as funcionalidades do sistema</li>
          <li>Caso tenha qualquer dúvida, contate seu gestor</li>
        </ol>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
