<div class="callout callout-info">
  <h4>Seja muito bem vindo a documentação oficial do <b>Easy Routes</b>!</h4>

  <p>Com este sistema, sendo um usuário você pode entrar em contato com seus motoristas diretamente e comunicar-se sobre sua ida e utilização dos seus serviços. Bem como
    pagar suas faturas e consultar seu contrato. Você também consegue receber notificações sobre feriados e novidades dos gestores.
  <br />
  Você sendo um gestor de empresas de transporte pode registrar-se no Easy Routes e gerenciar todos os seus usuários, excursões e rotas universitárias.
  </p>
</div>

<h2 class="page-header">Menu lateral</h2>
<div class="callout callout-warning">
<h4>Ao lado existe o menu para auxiliar na navegação da documentação, clique e caso tenha alguma dúvida, envie um e-mail para: <b>guilherme.castro@ulbra.inf.br</b></h4>
</div>
