<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>E/</b>R</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Easy</b> Routes</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-danger">1</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">Você tem 1 novo comunicado</li>
            <li>
              <!-- inner menu: contains the messages -->
              <ul class="menu">
                <li><!-- start message -->
                  <a href="">
                    <!-- Message title and timestamp -->
                    <h4>
                      Guilherme Gaspar
                    </h4>
                    <!-- The message -->
                    <p>Não vou hoje</p>
                  </a>
                </li><!-- end message -->
              </ul><!-- /.menu -->
            </li>
            <li class="footer"><a href="#">Clique sobre o comunicado para mais detalhes...</a></li>
          </ul>
        </li><!-- /.messages-menu -->
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle">
            <!-- The user image in the navbar-->
            <%= image_tag current_admin.avatar.url(:small), class: "user-image" %>
            <!-- <img src="/assets/user2-160x160.jpg" class="user-image" alt="User Image"/> -->
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs"><%= current_admin.fantasy_name %></span>
          </a>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: "", data: {confirm: "Você tem certeza que deseja sair?" } do %>
              <i class="fa fa-sign-out"></i>
            <% end %>
          </li>
        </li>
      </ul>
    </div>
  </nav>
</header>
