<h2> Página Principal <small> - Easy Routes </small> </h2> <br />
<div class="callout callout-info">
  <h4>Seja muito bem vindo!</h4>

  <p>Com este sistema, você pode entrar em contato com seus motoristas diretamente e comunicar sobre sua ida e utilização dos seus serviços. Bem como
    pagar suas faturas e consultar seu contrato. Você também consegue receber notificações sobre feriados e novidades dos gestores.
  Abaixo você verá alguns atalhos rápidos para acessar! </p>
</div>

<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Atalhos da aplicação</h3>
  </div>
  <div class="box-body">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>Comunicados</p>
            </div>
            <div class="icon">
              <i class="ion ion-clipboard"></i>
            </div>
            <a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>6</h3>

              <p>Faturas</p>
            </div>
            <div class="icon">
              <i class="ion ion-document-text"></i>
            </div>
            <a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>44</h3>

              <p>Colegas</p>
            </div>
            <div class="icon">
              <i class="ion ion-android-contacts"></i>
            </div>
            <a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3><%= @notifications.count %></h3>

              <p>Notificações</p>
            </div>
            <div class="icon">
              <i class="ion ion-android-notifications"></i>
            </div>
            <a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
  </div>
  <!-- /.box-body -->
</div>
